@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

body a {
  text-decoration: none;
  color: inherit;
}

body, .container, .heading, #todosContainer {
  background: #FBF9FA;
  color: #483B40;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  color: #F50057;
}

li {
  list-style-type: none;
}
input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}
input[type="checkbox"]:after {
  position: relative;
  top: 12px;
  left: 10px;
  font-family: 'FontAwesome';
  font-size: 28px;
  content: '\f1db';
  color: #eee;
  transition: all ease 0.5s;
}

input[type="checkbox"]:checked:after {
  color: #22B3FF;
}

input[type="checkbox"]:checked:not(#toggleAll) + label {
  text-decoration: line-through;
  color: #DDE3E1;
}

#toggleAll:after {
    background: transparent;
    font-family: 'FontAwesome';
    content: "\f107";
    color: #483B40;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 5px;
    left: 12px;
}

#toggleAll:checked::after {
  color: #F50057;
}

button {
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 650px;
  max-width: 650px;
}

.heading {
  height: fit-content;
  text-align: center;
}

#todo-header, #addTodoTextInput, #footer, #todoNotebook li {
  background: #fff;
}

#todo-header, #footer {
  /*border: 1px solid #ccc;*/
  overflow: hidden;
  /*outline: 1px solid #F50057;*/
}

#todo-header, #footer, #todosContainer {
  box-shadow: 5px 10px 55px #DDE3E1;
}

#todo-header {
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
}
.deleteButton {
  display: none;
  font-size: 1.3em;
  font-weight: 700;
  color: tomato;
  float:right;
  padding-right: 20px;
}
.deleteButton:hover {
  display: block;
}
#clearCompletedBtn {
  visibility: hidden;
}

#clearCompletedBtn:hover {
  text-decoration: underline;
}

#todoNotebook li label:hover ~ .deleteButton, .active {
  display: block;
  visibility: visible;
}

#todoNotebook li .edit, .hidden {
  display: none!important;
}
#todo-header, #footer, #todoNotebook li {
  display: flex;
}

#todoNotebook .editing, #footer #todoCountSpan, #todoNotebook li label {
  flex: 1;
}

#todoNotebook li .editing {
  border: 1px solid #808080;
}

#toggleAll {
  border-right: 1px solid #F50057;
}

#addTodoTextInput, #todoNotebook li label, .editing {
  font-size: 22px;
}

#addTodoTextInput {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 10px;
}

#addTodoTextInput:focus {
    outline: none;
}

#addTodoTextInput::placeholder {
  color: #DDE3E1;
  font-size: inherit;
}
.check {
  float: left;
  width: 50px;
  height: 50px;
  margin: -1px 0;
}

#todoNotebook li {
  height: 50px;
  margin: 0;
  padding: 5px;
  margin: 1px 0;
  outline: 1px solid rgba(221, 227, 225, 1);
}

#todoNotebook li label {
  padding: 5px;
  line-height: 1.8em;
}

#todoNotebook {
  width: 100%;
  padding: 0;
}

#footer {
  padding: 0px;
  margin-top: 20px;
  font-size: 14px;
}

#footer #clearCompletedBtn, #footer #todoCountSpan {
  flex: 2;
}

#footer #filters {
  text-align: center;
  flex: 5;
  padding-left: 0;
}

#footer #filters li {
  display: inline-flex;
  margin: auto 0;
}
#footer #filters li a {
  border: 1px solid #DDE3E1;
}
#footer #filters li a:hover {
  border: 1px solid #22B3FF;
}
#footer #filters li a.selected {
  border: 1px solid #22B3FF;
}
#footer #filters li a {
  display: block;
  width: 100%;
  min-width: 40px;
  padding: 0 10px 0 10px;
}
#todoCountSpan {
  position:relative;
  top: 14px;
  left: 30px;
}
.toggled {
  color: green;
}
